body{
    font-family: helvetica;
    font-size: 115%;
}

button{
    display: inline-block;
    margin: 10px; 
    background-color: #33a0b2; 
    font-size: 20px;
    border-radius: 10px;
    border-color: #fff;
    border: 0;
    padding: 4px 12px;
    color: #efefef;
}

div{
    display: block;
    text-align:center;
}
.hscores{
    max-width: fit-content;
    margin: auto;
}


.hidden {
    display: none;
    text-align: center;
}


.timer{
    position: absolute;
    right: 10px;
    top: 10px;
}



.start{
    text-align: center;
}
main{
    margin: 100px auto 0 auto;
    max-width: 600px;
}


.choices button{
    display: block;
}

.highscores{
    position: absolute;
    top:10px;
    left:10px;
}
.feedback {
    font-style:italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: #f44336;
    font-weight: bold;
    border-top: 2px solid #ccc;
}


#finished{
    text-align: center;
}



/* Responsive styles */
