body{
    font-family: helvetica;
    font-size: 115%;
}



.hidden {
    display: none;
}


.timer{
    position: absolute;
    right: 10px;
}

#begin{
    text-align: center;
    margin: 150px;
}

p{
    display: block;
    
}

button{
 margin: 30px; 
 background-color: #66b8c5; 
 
}